# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://auckpsimrsudzzppvotm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF1Y2twc2ltcnN1ZHp6cHB2b3RtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjMwNDEzOTgsImV4cCI6MjAzODYxNzM5OH0.p35wvQZhH1gLm9FgrhkFYGLAXxFk31FQdh8cSJHELJo
